## Importing Numpy and checking the version ---

In [1]:
import datetime
print(f"Last Updated:{datetime.datetime.now()}")

Last Updated:2025-10-26 21:20:56.450223

In [2]:
import numpy as np
np.__version__

'2.3.4'

## Numpy Datatypes and Attributes

In [5]:
## Numpy main datatype is ndarray (n - dimentional array)
a1 = np.array([1,2,3,4,5,6,7])
type(a1)

numpy.ndarray

In [6]:
a2 = np.array([[1,2,3,4,5.0],
             [6,7,8,9,10.5]])
a2

array([[ 1. ,  2. ,  3. ,  4. ,  5. ],
       [ 6. ,  7. ,  8. ,  9. , 10.5]])

In [9]:
a3 = np.array([[[1,2,3,4],
             [5,6,7,8]],
              
             [[9,10,11,12],
             [13,14,15,16]],
             
             [[17,18,19,20],
             [21,22,23,24]]])
## Anatomy of numpy array
# axis-1 refers to the rows, axis-2 refers to the columns and axis-n refers to the dimention
## For example - This array is (3,2,4) - (matrices,rows,columns)
a3

array([[[ 1,  2,  3,  4],
        [ 5,  6,  7,  8]],

       [[ 9, 10, 11, 12],
        [13, 14, 15, 16]],

       [[17, 18, 19, 20],
        [21, 22, 23, 24]]])

In [16]:
## Attribute in numpy array
a2.shape , a3.shape

((2, 5), (3, 2, 4))

In [42]:
a1.ndim,a2.ndim,a3.ndim # ndim refers to how many dimentions do i have

(1, 2, 3)

In [43]:
a1.dtype,a2.dtype,a3.dtype # dtype refers to data type of the array

(dtype('int64'), dtype('float64'), dtype('int64'))

In [44]:
a1.size,a2.size,a3.size # Size attribute tells us the size of the array

(12, 10, 24)

In [46]:
type(a1),type(a2),type(a3) ## All of the arrays is ndarray type

(numpy.ndarray, numpy.ndarray, numpy.ndarray)

In [25]:
## Creating a DataFrame form a NumPy array
import pandas as pd
def dataframe(param):
    return pd.DataFrame(param)

In [26]:
dataframe(a1)

   0
0  1
1  2
2  3
3  4
4  5
5  6
6  7

In [27]:
dataframe(a2)

     0    1    2    3     4
0  1.0  2.0  3.0  4.0   5.0
1  6.0  7.0  8.0  9.0  10.5

In [28]:
dataframe(a3) ## Computer Can't represent 3-Dimentional Object.

ValueError: Must pass 2-d input. shape=(3, 2, 4)