## Describing Data

In [10]:
import pandas as pd 
import datetime
print(f"Last Updated: {datetime.datetime.now()}")

Last Updated: 2025-12-22 07:51:02.281882

In [15]:
car_sales = pd.read_csv("D:\Olympiad\CSV FILES\car-sales.csv")
car_sales

<>:1: SyntaxWarning: invalid escape sequence '\O'
<>:1: SyntaxWarning: invalid escape sequence '\O'
C:\Users\Mr.Brownie\AppData\Local\Temp\ipykernel_14000\280369779.py:1: SyntaxWarning: invalid escape sequence '\O'
  car_sales = pd.read_csv("D:\Olympiad\CSV FILES\car-sales.csv")

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

In [17]:
 car_sales.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price            object
dtype: object

In [19]:
 car_sales.describe()

       Odometer (KM)      Doors
count      10.000000  10.000000
mean    78601.400000   4.000000
std     61983.471735   0.471405
min     11179.000000   3.000000
25%     35836.250000   4.000000
50%     57369.000000   4.000000
75%     96384.500000   4.000000
max    213095.000000   5.000000

## Std (Standard Deviation): This measures how "spread out" the data is from the mean.

In [20]:
car_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           10 non-null     object
 1   Colour         10 non-null     object
 2   Odometer (KM)  10 non-null     int64
 3   Doors          10 non-null     int64
 4   Price          10 non-null     object
dtypes: int64(2), object(3)
memory usage: 532.0+ bytes

In [22]:
car_sales.mean(numeric_only=True)

Odometer (KM)    78601.4
Doors                4.0
dtype: float64

In [24]:
# Calling a mean on a series
car_sales_series = pd.Series([100,2,35000,5,66])
car_sales_series.mean()

np.float64(7034.6)

In [25]:
car_sales_series.std() # Standard Deviation ------

15633.18904766395

In [26]:
car_sales.sum()

Make             ToyotaHondaToyotaBMWNissanToyotaHondaHondaToyo...
Colour               WhiteRedBlueBlackWhiteGreenBlueBlueWhiteWhite
Odometer (KM)                                               786014
Doors                                                           40
Price            $4,000.00$5,000.00$7,000.00$22,000.00$3,500.00...
dtype: object

In [27]:
car_sales.sum(numeric_only=True)

Odometer (KM)    786014
Doors                40
dtype: int64

In [28]:
css = car_sales_series.sum()
css

np.int64(35173)

In [33]:
car_list = car_sales.columns

In [36]:
car_list[0]

'Make'

In [40]:
car_sales.index

RangeIndex(start=0, stop=10, step=1)

In [41]:
len(car_sales)

10

In [42]:
len(car_list)

5